name: Build with hugo and deploy to zeit
on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cariad/hugo-ci-action@v2
        with:
          path: microsite
