image: alombarte/hugo

stages:
  - build
  - deploy
services:
  - docker:dind

# If you need special NPM builds that cannot be handled through Hugo:
build:
  stage: build
  image: docker:stable
  script:
    - docker run -v $PWD:/app -w /app node:10 npm install
    - docker run -v $PWD:/app -w /app node:10 npm run-script build
  artifacts:
    paths:
    - static/dist/
  only:
    - master

deploy:
  stage: deploy
# variables:
#    GIT_SUBMODULE_STRATEGY: normal
#    GIT_DEPTH: "3"
  dependencies:
    - build
  script:
    - git clone https://github.com/${USERNAME}/${REPOSITORY}.git public
    - rm -fr public/*
    - hugo -d public
    - cd public
    - git remote rm origin
    - git remote add origin https://${USERNAME}:${GH_TOKEN}@github.com/${USERNAME}/${REPOSITORY}.net.git
    - git config --global user.email "${EMAIL}"
    - git config --global user.name "${USERNAME}"
    - git add -A
    - git commit -m "Automatic build from CI $CI_SERVER_NAME $CI_PIPELINE_ID"
    - git push --set-upstream origin master
  artifacts:
    paths:
    - public
  only:
    - master
  before_script:
    - hugo version
